# <font color="red"> MBA em IA e Big Data</font>
## <span style="color:red">Linguagens e Ferramentas para Inteligência Artificial e Big Data (Python e SQL)</span>

### <span style="color:darkred">Python: referências, operações e funções</span>

## Avaliação

*Leandro Franco de Souza*<br>
*ICMC/USP São Carlos*

*(com material do Prof. Moacir Antonelli Ponti)*

<font color='red'> As respostas devem ser fornecidas no Moodle. O notebook é apenas para a implementação dos códigos que fornecerão as respostas</font>

## Questão 1

Considere que temos tuplas contendo registros de passageiros em um vôo. As tuplas são organizadas de forma que os elementos estão sempre nessa ordem:
* Abreviação do país com 3 letras (ex. 'BRA', 'ARG')
* Passaporte
* Mês de vencimento do passaporte
* Ano de vencimento do passaporte
* Valor pago pelo trecho

Seja uma lista contendo tuplas do tipo acima.  Calcule o valor médio pago pelo trecho entre todos os passageiros

a) 996.4<br>
b) 999.99<br>
c) 1009.1<br>
d) 990.50

In [1]:
lv = [('BRA', 'DFD-2992', 12, 2031, 999.0),
      ('ARG', '1112992', 1, 2032, 899.0),
      ('EUA', 'AB3DA000', 11, 2031, 1023.0),
      ('BRA', 'GCG-1112', 9, 2031, 900.0),
      ('ESP', 'DFD-2992', 11, 2031, 899.0),
      ('URU', 'AEC423', 3, 2033, 699.0),
      ('PAR', 'DFD-2992', 2, 2035, 1099.0),
      ('ARL', 'X123111Z', 10, 2031, 954.0),
      ('URU', 'BAC203', 2, 2035, 1011.0),
      ('ARG', '3112323', 10, 2031, 1250.0),
      ('URU', 'ABC123', 12, 2034, 1001.5),
      ('BRA', 'AAB-2992', 8, 2031, 1050.9),
      ('BRA', 'EFE-2992', 8, 2032, 1170.1),
      ('VEN', 'GAC292', 4, 2033, 1000.6),
      ('PER', '2992DDE', 9, 2031, 989.9)]

lv

[('BRA', 'DFD-2992', 12, 2031, 999.0),
 ('ARG', '1112992', 1, 2032, 899.0),
 ('EUA', 'AB3DA000', 11, 2031, 1023.0),
 ('BRA', 'GCG-1112', 9, 2031, 900.0),
 ('ESP', 'DFD-2992', 11, 2031, 899.0),
 ('URU', 'AEC423', 3, 2033, 699.0),
 ('PAR', 'DFD-2992', 2, 2035, 1099.0),
 ('ARL', 'X123111Z', 10, 2031, 954.0),
 ('URU', 'BAC203', 2, 2035, 1011.0),
 ('ARG', '3112323', 10, 2031, 1250.0),
 ('URU', 'ABC123', 12, 2034, 1001.5),
 ('BRA', 'AAB-2992', 8, 2031, 1050.9),
 ('BRA', 'EFE-2992', 8, 2032, 1170.1),
 ('VEN', 'GAC292', 4, 2033, 1000.6),
 ('PER', '2992DDE', 9, 2031, 989.9)]

In [10]:
from statistics import mean
valores = [item[4] for item in lv]
VM = mean(valores)
print(f"VM: {VM}")

VM: 996.4

## Questão 2

Considere ainda a mesma lista de tuplas anterior. Crie uma nova lista contendo strings formada pelo mes e ano de vencimento no formato: `mm/aaaa`. Exemplo: se temos mes = 9 e ano = 2022 a string resultante será `'9/2022'`

A seguir, conte quantas dessas strings possuem tamanho maior do que 6.

a) 10<br>
b) 4<br>
c) 6<br>
d) 3

In [4]:
dados = [('BRA', 'DFD-2992', 12, 2031, 999.0),
      ('ARG', '1112992', 1, 2032, 899.0),
      ('EUA', 'AB3DA000', 11, 2031, 1023.0),
      ('BRA', 'GCG-1112', 9, 2031, 900.0),
      ('ESP', 'DFD-2992', 11, 2031, 899.0),
      ('URU', 'AEC423', 3, 2033, 699.0),
      ('PAR', 'DFD-2992', 2, 2035, 1099.0),
      ('ARL', 'X123111Z', 10, 2031, 954.0),
      ('URU', 'BAC203', 2, 2035, 1011.0),
      ('ARG', '3112323', 10, 2031, 1250.0),
      ('URU', 'ABC123', 12, 2034, 1001.5),
      ('BRA', 'AAB-2992', 8, 2031, 1050.9),
      ('BRA', 'EFE-2992', 8, 2032, 1170.1),
      ('VEN', 'GAC292', 4, 2033, 1000.6),
      ('PER', '2992DDE', 9, 2031, 989.9)]

In [5]:
datas = [f"{mes}/{ano}" for _, _, mes, ano, _ in dados]
datas_maior_que_6 = [data for data in datas if len(data) > 6]

print(f"Datas com comprimento > 6: {datas_maior_que_6}")
print(f"Quantidade: {len(datas_maior_que_6)}")

Datas com comprimento > 6: ['12/2031', '11/2031', '11/2031', '10/2031', '10/2031', '12/2034']
Quantidade: 6

## Questão 3

Carregue o arquivo <font style="font-family: monaco">WorldCupMatches.csv</font>, disponível para download. Baixe o arquivo no seu diretório de trabalho para responder as questões.

O arquivo <font style="font-family: monaco">WorldCupMatches.csv</font> contém informações sobre todas as partidas de copas do mundo entre 1930 e 2014, ou seja, cada linha no arquivo corresponde a uma partida de futebol em copa do mundo.

Algumas das colunas que serão importantes para resolver as questões são:
- __Year__: indica o ano da copa
- __Stage__: em qual fase da copa a partida aconteceu
- __HomeTeamName__: nome do time anfitrião da partida
- __AwayTeamName__: nome do time adversário na partida
- __Attendance__: número de espectadores da partida
- __Stadium__: estádio onde a partida foi realizada

Crie uma função que tenha como entrada o país e o dataframe partidas (ver abaixo). Nesta função, calcule quantos jogos o time 'Scotland' realizou  e quais foram os três primeiros adversários dele?

a) 22 jogos. Austria, Uruguay e Paraguay<br>
b) 23 jogos. Uruguay, Yugoslavia e Paraguay<br>
c) 23 jogos. Austria, Uruguay e Yugoslavia<br>
d) 24 jogos. Austria, Uruguay e Yugoslavia

In [11]:
import pandas as pd
partidas = pd.read_csv('Arquivos/WorldCupMatches.csv')
print(partidas.shape)

(836, 20)

In [12]:
def jogos_da_escocia(pais, partidas):
    # Filtra jogos onde 'Scotland' participou
    jogos = partidas[(partidas['HomeTeamName'] == pais) | (partidas['AwayTeamName'] == pais)]
    
    # Conta a quantidade de jogos
    total_jogos = len(jogos)
    
    # Encontra os adversários
    adversarios = []
    for _, row in jogos.iterrows():
        if row['HomeTeamName'] == pais:
            adversarios.append(row['AwayTeamName'])
        else:
            adversarios.append(row['HomeTeamName'])
    
    # Pega os três primeiros adversários
    primeiros_tres = adversarios[:3]
    
    return total_jogos, primeiros_tres

In [14]:
# Chama a função
total, adversarios = jogos_da_escocia('Scotland', partidas)

print(f"Total de jogos: {total}")
print(f"3 primeiros adversários: {adversarios}")

Total de jogos: 23
3 primeiros adversários: ['Austria', 'Uruguay', 'Yugoslavia']

## Questão 4

Crie uma função lambda que processe uma tupla contendo um produto definido na forma:
(nome_produto (str), preco (float), ano validade (int), mes validade (int))
E que retorne uma nova tupla contendo o nome do produto concatenado com ` em promoção`, e o preço com desconto de 50%.

Exemplo: `('macarrao', 10.0, 2025, 7)`

Saída da função: `('macarrao em promocao', 5.0, 2025, 7)`

Crie uma função que receba uma lista contendo as tuplas de produtos, um ano e mês de vencimento, e que utilize essa função lambda numa comprehension para retornar uma nova lista contendo apenas produtos próximos ao vencimento, para os quais será feita uma promoção com desconto de 50%. Serão considerados próximos ao vencimento produtos até o ano e mês passados como argumento da função.

Exemplo de uso da funcao: gera_lista_promocao(prods, 2025, 8).

Considerando que produtos com vencimento até Agosto de 2025 estão próximos ao vencimento, use sua função para retornar uma lista de produtos em promoção. Qual é o preço mínimo e máximo dos produtos dessa lista?

a) Menor: 1,00; Maior: 4,495<br>
b) Menor: 1,25; Maior: 5,255<br>
c) Menor: 1,25; Maior: 4,495<br>
d) Menor: 1,00; Maior: 5,255

In [15]:
prods = [('macarrao', 5.99, 2025, 7),
      ('palmito', 12.50, 2027, 8),
      ('arroz', 21.50, 2025, 9),      
      ('feijao', 8.50, 2027, 10),
      ('grao de bico', 8.50, 2027, 8),
      ('feijao preto', 8.90, 2025, 7),
      ('molho', 2.50, 2025, 6),
      ('cafe', 7.30, 2025, 6),
      ('manteiga', 8.99, 2025, 7),
      ('chocolate', 2.00, 2025, 9),
      ('azeite', 10.50, 2027, 1),
      ('farinha', 3.50, 2025, 7),
      ('fuba', 4.50, 2027, 8)]

In [16]:
promo_lambda = lambda prod: (prod[0] + ' em promocao', prod[1] / 2, prod[2], prod[3])

def gera_lista_promocao(produtos, ano_limite, mes_limite):
    return [
        promo_lambda(prod)
        for prod in produtos
        if (prod[2] < ano_limite) or (prod[2] == ano_limite and prod[3] <= mes_limite)
    ]

# Gerar lista de promoções até agosto de 2025
lista_promocao = gera_lista_promocao(prods, 2025, 8)

precos = [prod[1] for prod in lista_promocao]
preco_min = min(precos)
preco_max = max(precos)

print(f"Produtos em promoção: {lista_promocao}")
print(f"Preço mínimo: {preco_min}")
print(f"Preço máximo: {preco_max}")

Produtos em promoção: [('macarrao em promocao', 2.995, 2025, 7), ('feijao preto em promocao', 4.45, 2025, 7), ('molho em promocao', 1.25, 2025, 6), ('cafe em promocao', 3.65, 2025, 6), ('manteiga em promocao', 4.495, 2025, 7), ('farinha em promocao', 1.75, 2025, 7)]
Preço mínimo: 1.25
Preço máximo: 4.495

## Questão 5

Carregue o arquivo `sales2.csv`. Sem realizar nenhum pré processamento

1. Crie uma visão do dataframe contendo as colunas Item Type e Total Profit apenas das linhas contendo Order Priority = H ou Order Priority = M, e com Units Sold maior do que 1000.
2. Nessa visão, calcule a média e o máximo do Total Profit agrupado pelo Item Type.

Quais são os valores de média e máximo para os itens de tipo: Beverages e Fruits, sem considerar casas decimais?

a) Beverages: Média=111837, Máximo=147031; Fruits: Média=9485, Máximo 18405<br>
b) Beverages: Média=147031, Máximo=147031; Fruits: Média=12228, Máximo 18405<br>
c) Beverages: Média=111837, Máximo=111837; Fruits: Média=9485, Máximo 12228<br>
d) Beverages: Média=147031, Máximo=147031; Fruits: Média=9485, Máximo 18405<br>

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Arquivos/sales2.csv')
df

,Country,Item Type,Online,Order Priority,Order Date,Order ID,Units Sold,Unit Price,Total Revenue,Total Cost,Total Profit,Ship Date
0,Bangladesh,Clothes,1.0,L,1/13/2017,187310731,8263,109.28,902980.64,296145.92,606834.72,3/1/2017
1,Honduras,Household,0.0,H,2/8/2017,522840487,8974,668.27,5997054.98,4509793.96,1487261.02,2/13/2017
2,Mongolia,Personal Care,0.0,C,2/19/2014,832401311,4901,81.73,400558.73,277739.67,122819.06,2/23/2014
3,Bulgaria,Clothes,1.0,M,4/23/2012,972292029,1673,109.28,182825.44,59960.32,122865.12,6/3/2012
4,Sri Lanka,Cosmetics,0.0,M,11/19/2016,419123971,6952,437.20,3039414.40,1830670.16,1208744.24,12/18/2016
...,...,...,...,...,...,...,...,...,...,...,...,...
83,Mali,Clothes,NaN,M,7/26/2011,512878119,888,109.28,97040.64,31825.92,65214.72,9/3/2011
84,Malaysia,Fruits,NaN,L,11/11/2011,810711038,6267,9.33,58471.11,43367.64,15103.47,12/28/2011
85,Sierra Leone,Vegetables,NaN,C,6/1/2016,728815257,1485,154.06,228779.10,135031.05,93748.05,6/29/2016
86,Mexico,Personal Care,NaN,M,7/30/2015,559427106,5767,81.73,471336.91,326815.89,144521.02,8/8/2015
87,Mozambique,Household,NaN,L,2/10/2012,665095412,5367,668.27,3586605.09,2697132.18,889472.91,2/15/2012

In [18]:
visao = df[
    (df['Order Priority'].isin(['H', 'M'])) &
    (df['Units Sold'] > 1000)
][['Item Type', 'Total Profit']]

agrupado = visao.groupby('Item Type')['Total Profit'].agg(['mean', 'max'])

resultados = agrupado.loc[['Beverages', 'Fruits']].round(0).astype(int)

print(resultados)

             mean     max
Item Type
Beverages  147032  147032
Fruits      12228   18405